$color-primary: #c81042;
$color-primary-light: #eb2b5e;
$color-primary-dark: #a81c41;
$color-neutral: #ffffff;

$fs-sm: 0.875rem;
$fs-md: 1rem;
$fs-lg: 1.25rem;
$fs-xl: 1.5rem;
$fs-2xl: 2rem;
$fs-3xl: 4rem;
