@use "src/_variables.scss" as global;

$ff-primary: "Manrope", sans-serif;
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $ff-primary;
    overflow: hidden;
    *{transition: cubic-bezier(0.2, 0.8, 0.2, 1) 0.5s};

    a{
        color: global.$color-primary-light;
        text-decoration: none;
    }

    *::-webkit-scrollbar{
        width: 5px;
        background: transparent;
        margin: 10px 0;
    }
    *::-webkit-scrollbar-thumb{
        background: global.$color-primary;
        border-radius: 5px;
    }

}

iframe {
    pointer-events: none;
}