@use "src/_variables.scss" as global;

$ff-primary: "Manrope", sans-serif;
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $ff-primary;
    overflow: hidden;

    a{
        color: global.$color-primary-light;
        text-decoration: none;
    }
}

iframe {
    pointer-events: none;
}