@use "../../variables";

$clr-link-blue: #409fe3;

.container {
    width: 80%;
    max-width: 70rem;
    padding-left: 115px;
    margin: 0 auto 0 auto;
}
.title {
    color: variables.$color-primary;
    font-size: 2.25rem;
    margin: 50px 0 25px 0;
    padding: 0 25px;
}
.event-article__title {
    font-size: 1.75rem;
    margin-bottom: 25px;
    color: #555555;
    padding: 0 25px;
}
.event-article__content {
    background-color: #eeeeee;
}
.event-article__loc {
    padding: 25px;
    font-size: variables.$fs-lg;
    font-weight: bold;
}
.event-article__loc a {
    color: $clr-link-blue;
    text-decoration: none;
}

.event-article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
