@use "../../variables";

.container {
    width: 80%;
    max-width: 70rem;
    padding-left: 115px;
    margin: 0 auto 0 auto;
}
.title {
    color: variables.$color-primary;
    font-size: 2.25rem;
}
.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 5px 25px 10px 25px;
}
.events-list {
    position: relative;
    overflow-y: auto;
    height: 80vh;
    padding-right: 1rem;
}
.calendar-tabs {
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
}
.trending-btn,
.friends-btn {
    padding: 20px;
    border: none;
    color: variables.$color-primary;
    background-color: variables.$color-neutral;
    cursor: pointer;
}

.trending-btn-active,
.friends-btn-active {
    padding: 20px;
    border: none;
    background-color: variables.$color-primary;
    color: variables.$color-neutral;
    cursor: pointer;
}
